<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="8.0.0-beta01" targetFramework="net46" />
  <package id="ILMerge" version="2.14.1208" targetFramework="net46" />
  <package id="ILMerge.MSBuild.Task" version="1.0.3" targetFramework="net46" />
  <package id="PDFsharp" version="1.50.4845-RC2a" targetFramework="net46" />
</packages>